/* NAVBAR */
.logo {
  color: var(--accent-color);
  font-family: 'Sacramento', cursive;
   cursor: pointer;
 }
.container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}
nav {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  top:0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: var(--theme-color);
  padding: 16px 32px;
  border-bottom: 3px solid var(--secondary-color);
  overflow: hidden;
 }

.hamburger {
  display: block;
  position: relative;
  z-index: 1;
  user-select: none;
  appearance: none;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}
.hamburger span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background-color: var(--secondary-color);
  z-index: 1;
  transform-origin: 0 0 ;
  transition: 0.4s;
}
.hamburger.is-active:hover  span{
  background-color: var(--accent-color);
}
.hamburger span:nth-child(2){
  transform: translateX(10px);
  }
  .hamburger.is-active span:nth-child(1){
    transform: translate(0px, -2px) rotate(45deg)
  }
  .hamburger.is-active span:nth-child(2){
   opacity: 0;
   transform: translateX(15px);
  }
  .hamburger.is-active span:nth-child(3){
    transform: translate(-3px, 3px) rotate(-45deg); 
  }
  .menu ul li a {
    color: var(--secondary-color);
    font-weight: 600;
    transition: 0.4s;
    padding: 8px 22px;
    border-radius: 99px;
  }

  .menu, .icons-menu {
  display: none;
  
  }
   .menu.open, .icons-menu.open {
    display: block;
} 
/* .menu ul.open{
  display: block;
}
  */

  .menu, .icons-menu {
    display: flex;
    
  }
.hamburger{
  display: none;
}

.menu ul {
  display: flex;
  justify-content: center;
    }
.menu ul li a {
  color: var(--secondary-color);
  font-weight: 600;
  transition: 0.4s;
  padding: 8px 22px;
  border-radius: 99px;
}
.menu ul li a.is-active, .menu ul li a:hover{
  background-color: var(--accent-color);
}
.icons-menu i{
  font-weight: 600;
  padding: 0px 16px;
  transition: 0.4s;
}
.icons-menu i:hover{
  transform: scale(.1);
}