   main {
    width: 100%;
    background-color: red;
   }
    .space {
      margin-top: 35px;
  }
  .space-bottom {
    margin-bottom: 10px;
  }
  .bold {
    font-size: 1rem;
  }
  .dis-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
    .btn-max {
      height: 35px;
      width: 50%;
      border-radius: 50px;
      font-size: 0.7rem;
      margin-top: 1.1rem;
      margin-bottom: 5rem;
     }
  
     .btn-min{
      height: 35px;
      width: 30%;
      border-radius: 50px;
      font-size: 0.6rem;
      margin-top: 1.1rem;
      margin-bottom: 5rem;
     }
  
    /* GENERAL ENDS */
  

  
 
     
    
  
  
     .strong {
      display: block;
      margin: 1rem 4rem;
     }
    .block {
      display: block;
    }
     .test-p {
       margin: 1rem 4rem ;
     }
  
     /* TESTIMONIALS ENDS */
    
    /* NEWSLETTER */
    
    .newsletter {
         text-align: center;
         margin-top: 4rem;
    }
    input[type="text"]{
      outline: none;
      background-color: var(--theme-color);
        border: none;
        height: 35px;
        width: 40%;
        border-radius: 50px;
        box-shadow: 0 4px 4px -3px var(--accent-color);
        -moz-box-shadow: 0 4px 4px -3px var(--accent-color);
        -webkit-box-shadow: 0 4px 4px -3px var(--accent-color); 
    }
  
    /* NEWSLETTER ENDS */
  
  
    /* FOOTER */
    /* Scroll to Top Button */
  .scroll {
      display: none; 
      position: fixed;
      bottom: 20px; 
      right: 30px; 
      z-index: 99; 
      border: none; 
      outline: none;
      background-color: var(--secondary-color);
      cursor: pointer; 
      border-radius: 60px; 
      width: 13%;
  
      
    }
    .scroll i {
      font-size: 18px; 
    }
    
      /* ENDS */
    footer {
      background-color: var(--accent-color);
      height: 100%;
     
     }
    footer section {
      display: grid;
      grid-template-columns: 1fr 1.2fr;
      gap: 4rem;
       justify-content: center;
     
    }
    .company {
      padding-left: 3rem;
      margin-top: 3rem;
      font-size: 3rem;
    }
    
    .quick-links {
    margin-top: 100px;
      padding-bottom: 2rem;
    }
    .quick-links  strong {
      font-size: 0.7rem;
      
    }
    
    .payment {
        float: right;
        margin-right: 1rem;
    
    }
    .payment-icon{
      margin: 0.4rem 1rem;
        font-size: 1.5rem;
    }
    .payment-icon-pad {
      padding-left: 5rem;
      padding-top: 1rem;
    }
     
    .footer-container {
      text-align: center;
      margin: 12rem 0;
    
    }
    .footer-text {
    margin-top: 2rem;
    font-size: 1.2rem;
    }
    
    footer {
      background-color: var(--accent-color);
    }
  
    /* FOOTER ENDS */
    
  
  