@media only screen and  (min-width: 1024px){
    img{
        object-fit: scale-down;
      }
      /* NABAR */
      .logo {
        font-size: 2.2rem;  
    }
    /* NAVBAR ENDS */
    .intro-text {
        margin-top: 3rem;
        margin-left: 10rem;
        margin-right: 10rem;
        margin-bottom: 1.5rem;
        font-size: 2.5rem;
     
      }
      .intro-info {
        margin-left: 10rem;
        margin-right: 10rem;
        margin-bottom: 1.5rem;
      
       } 

       
   /* MAIN ENDS */
   
   /* GENERAL */
   button {
    width: 20%;
    font-size: 1rem; 
}
input[type="text"] {
    width: 25%;
}
.scroll {
    width: 5%;
    
  }
/* COLLECTIONS */
.collections button {
    width: 80%;
    font-size: 1rem; 
}
.products {
    font-size: 1.6rem;
}
.sofa-text{
    font-size: 2rem;
}
.large-strong {
    font-size: 1.8rem;
}
.services-info {
    font-size: 1.6rem;
}
.services div div strong i {
    font-size: 3rem;
}
.features {
    padding: 2rem;
   } 
   
 
   /* SOFA */
   .sofa-details {
       text-align: center;
       margin: 10rem 3rem 0 1rem;
   }
   .service-text p{
       font-size: 1.4rem;
   }
    .service-text button {
       font-size: 1rem;
   }
   
   .col-images {
   justify-content: space-around;
   }
   
   .test-p {
       font-size: 1.5rem;
       margin: 1rem 9rem;
   }
   .sofa-details p {
       font-size: 1.5rem;
   }
   .collections div{
       font-size: 1.2rem;
   }
      .ul-block{
       flex-direction: column;
       font-size: 1.3rem;
   }
   
   .cta {
       width: 10%;
   }
   .quick-links strong {
       font-size: 1rem;
   }
   
}